# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de ambiente virtual
venv/
.env
.env.*

# Logs e cache
*.log
*.sqlite3
*.db

# IDEs
.vscode/
.idea/

# Arquivos temporários
*.bak
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db
